//utils
@import "./utils/variables";
@import "./utils/mixins";
//base
@import "./base/common";
@import "./base/container";
@import "./base/visually-hidden";
//components
@import "./components/button";
@import "./components/modal";
@import "./components/logo";
@import "./components/social-links";
@import "./components/social-list";
//layout
@import "./layout/header";
@import "./layout/hero";
@import "./layout/advantages";
@import "./layout/services";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";
