.hero {
  margin: 0 auto;
  max-width: 1600px;
  background-image: linear-gradient($gradient-color, $gradient-color),
    url("../images/hero/hero.png");

  &-title {
    color: $white-color;

    @include font(900, 44px, 60px);
    letter-spacing: 0.06em;

    text-align: center;
    text-transform: uppercase;
  }
}
