.logo {
  font-family: $logo-font;
  display: flex;
  margin-right: 93px;
  font-size: 26px;
  text-decoration: none;
  animation-duration: 1500ms;
}
.footer-logo {
  font-family: $logo-font;

  display: flex;

  font-size: 26px;
  text-decoration: none;
  margin-bottom: 20px;
}
.web-logo {
  color: $accent-color;
}
.studio-logo {
  color: $black-color;
}
.studio-footer {
  color: $white-color;
}
.background {
  background-color: $section-background-color;
}
