.social-list-item {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-svg {
  width: 20px;
  height: 20px;
  fill: $social-links-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-item:hover .social-list-svg,
.social-list-item:focus .social-list-svg {
  fill: $white-color;
}
