*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  background-color: $white-color;
  font-family: $main-font;
  font-size: 14px;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
